# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
i_venv/

# SQLite database
database/*.sqlite3

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE files
.vscode/
.idea/